page-home {
    .offerimg {
        background-image: url('../assets/imgs/briyani-1.jpg');
        background-repeat: no-repeat;

    }

    .offerimg1 {
        background-image: url('../assets/imgs/biriyani-2.jpg');
        background-repeat: no-repeat;
    }
}
