page-home {
    .offerimg {
        background-image: url('../assets/imgs/logo-12.jpg');
    }

    .offerimg1 {
        background-image: url('../assets/imgs/biriyani-2.jpg');
        background-repeat: no-repeat;
    }
}
